<div class="f1 container rounded bg-white mt-4">
  <div class="row" class="breadcrumb">

    <div class="col-1">
         <span ngbTooltip="Quay lại"
               style="font-size: 25px; margin-top: 14px" routerLink="/enterprise/detail"
               class="material-icons a1">keyboard_backspace</span>
    </div>
    <div class="col">
      <h2 style="margin-right: 100px; margin-top: 11px" align="center">Sửa thông tin</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-7">
      <div class="">
        <div class="p-3">
          <form action="#" [formGroup]="enterpriseForm" (ngSubmit)="updateEnterprise()">
            <div class="row mt-3">
              <div class="col-md-12">
                <span style="color: gray">Tên doanh nghiệp</span>
                <input type="text" formControlName="nameCompany" class="form-control"
                       placeholder="nameCompany"></div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="enterpriseForm.controls['nameCompany'].errors?.['required']
                           && enterpriseForm.controls['nameCompany'].touched">
              Tên công ty là bắt buộc!
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <span style="color: gray">Mô tả</span>
                <input type="text" formControlName="description" class="form-control"
                       placeholder="Mô tả"></div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="enterpriseForm.controls['description'].errors?.['required']
                           && enterpriseForm.controls['description'].touched">
              Mô tả là bắt buộc!
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <span style="color: gray">Địa chỉ công ty</span>
                <input type="text" formControlName="addressCompany" class="form-control"
                       placeholder="Địa chỉ"></div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="enterpriseForm.controls['addressCompany'].errors?.['required']
                           && enterpriseForm.controls['addressCompany'].touched">
              Địa chỉ là bắt buộc!
            </div>
            <div class="row mt-3">
              <div class="col-md-6">
                <span style="color: gray">Số điện thoai</span>
                <input type="text" formControlName="phoneNumbers" class="form-control"
                       placeholder="Số điện thoại"></div>
              <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                   *ngIf="enterpriseForm.controls['phoneNumbers'].errors?.['required']
                           && enterpriseForm.controls['phoneNumbers'].touched">
                Số điện thoại là bắt buộc!
              </div>
              <div class="col-md-6">
                <span style="color: gray">Số nhân viên</span>
                <input type="text" formControlName="numberOfEmployees" class="form-control"
                       placeholder="Số nhân viên"></div>
              <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                   *ngIf="enterpriseForm.controls['numberOfEmployees'].errors?.['required']
                           && enterpriseForm.controls['numberOfEmployees'].touched">
                Số lượng nhân viên là bắt buộc!
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <span style="color: gray">link Websites</span>
                <input type="text" formControlName="linkWebsites" class="form-control"
                       placeholder="linkWebsites"></div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="enterpriseForm.controls['linkWebsites'].errors?.['required']
                           && enterpriseForm.controls['linkWebsites'].touched">
              link website là bắt buộc!
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <span style="color: gray">link Facebook</span>
                <input type="text" formControlName="linkFacebook" class="form-control"
                       placeholder="linkFacebook"></div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="enterpriseForm.controls['linkFacebook'].errors?.['required']
                           && enterpriseForm.controls['linkFacebook'].touched">
              link facebook là bắt buộc!
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <span style="color: gray">link GoogleMaps</span>
                <input type="text" formControlName="linkGoogleMaps" class="form-control"
                       placeholder="linkGoogleMaps"></div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="enterpriseForm.controls['linkFacebook'].errors?.['required']
                           && enterpriseForm.controls['linkFacebook'].touched">
              link google map là bắt buộc!
            </div>
            <div class="mt-5 text-right">
              <button [disabled]="!enterpriseForm.valid"
                      class="btn btn-primary profile-button" type="submit">Sửa thông tin
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-5">
      <img style="width: 120%;"
           src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp" alt="">
    </div>
  </div>
</div>
