<div style="margin-left: 50px; width: 200px; border-radius: 6px;">
  <div style="background-color: white; border-radius: 5px; height: 95px">
    <div style="height: 30px">
    </div>
    <h2 align="center" style="background-color: white;
  color: deeppink;border-radius: 15px"><sub style="color: deeppink"><span class="material-icons">local_offer</span></sub>&nbsp;Đề Xuất cho bạn</h2>
  </div>
  <div *ngFor=" let job2 of listJobVIPOrderByDate"
       style="border-radius: 5px; border: 1px solid; color: greenyellow; margin-top: 18px">
    <h2 routerLink="{{job2.id}}/details" style="margin-left: 10px"> {{job2?.profileEnterprise?.nameCompany}}</h2>
    <img style="height: 50px; width: 50px; border-radius: 3px" src="{{job2?.profileEnterprise?.image}}">
    <p>{{job2?.profileEnterprise?.phoneNumbers}}</p>
    <p>{{job2?.profileEnterprise?.description}}</p>
  </div>
</div>
