<!-- header-start -->
<header>
  <div class="header-area ">
    <div id="sticky-header" class="main-header-area">
      <div class="container-fluid ">
        <div class="header_bottom_border">
          <div class="row align-items-center">
            <div class="col-xl-3 col-lg-2">
            </div>
            <div class="col-xl-6 col-lg-7">
              <div class="main-menu  d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a href="#" routerLink="enterprise/listJob">Trang chủ</a></li>
                    <li><a href="jobs.html">Cộng đồng</a></li>
                    <li><a href="#">Trang <i class="ti-angle-down"></i></a>
                      <ul class="submenu">
                        <li><a href="candidate.html"> </a></li>
                        <li><a href="job_details.html">Chi tết </a></li>
                        <li><a href="elements.html">Thuộc tính</a></li>
                      </ul>
                    </li>
                    <li><h2 class="changeColor" style="margin-left: 30px" *ngIf="isLoggedIn()">
                     <sub style="color: black"><span class="material-icons">how_to_reg</span></sub>{{username}}</h2></li>
                  </ul>
                </nav>
              </div>
            </div>
            <div class="col-2" class="alo1"><sup>
                  <span style="color: #084488; font-size: 45px" *ngIf="isLoggedIn()" (click)="logOut()"
                        ngbTooltip="Đăng xuất" class="material-icons">power_settings_new</span></sup>
            </div>
            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
              <div class="row">
                <div class="col-5">
                  <div class="Appointment">
                    <div class="col" *ngIf="!isLoggedIn()">
                      <div ngbDropdown class="d-inline-block">
                        <button style="background-color:#00D363; color: white" class="btn btn-outline-primary"
                                ngbTooltip="Đăng nhập"  ngbDropdownToggle>Đăng nhập
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <a class="changeColor" routerLink="/login" ngbDropdownItem>Người dùng</a>
                          <a class="changeColor" routerLink="/login/enterprise" ngbDropdownItem>Doanh nghiệp</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-5">
                  <div class="Appointment">
                    <div class="col" *ngIf="!isLoggedIn()">
                      <div ngbDropdown class="d-inline-block">
                        <button style="background-color:#00D363; color: white" class="btn btn-outline-primary"
                                id="dropdownBasic1" ngbTooltip="Đăng ký"  ngbDropdownToggle>Đăng ký
                        </button>
                        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                          <a class="changeColor" routerLink="/register/user" ngbDropdownItem>Người dùng</a>
                          <a class="changeColor" routerLink="/register/enterprise" ngbDropdownItem>Doanh nghiệp</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header-end -->

<!-- slider_area_start -->
<div class="slider_area">
  <div class="single_slider  d-flex align-items-center slider_bg_1" style="height: 300px">
    <div class="container">
      <img style="width: 150px; height: 100px;" src="https://www.tourchauau.net/images/news/van-hoa-am-thuc/nhung-bieu-tuong-dac-trung-cua-nuoc-duc-9.png" alt="">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6">
          <div class="slider_text">
            <p class=" wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">
              Chúng tôi cung cấp các dịch vụ về
              công việc tức thời trực tuyến phù hợp với bạn</p>
            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
              <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Phù hợp mọi lứa tuổi&nbsp;<span
                style="font-size: 39px" class="material-icons">mood</span></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
    <img height="200px" src="assets/demo/img/banner/illustration.png" alt="">
  </div>
</div>
<!-- slider_area_end -->

<div class="row" style="background-color: palegoldenrod; height: 5px"></div>
<div class="row" style="height: 20px"></div>
