.a1 {
  cursor: pointer;
}

.a1:hover {
  color: #ffc107;
}

.example-h2 {
  margin: 10px;
}

.example-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 60px;
}

.example-margin {
  margin: 0 10px;
}

.input-type {
  width: 100%;
  height: 37px;
  border-radius: 4px;
}

.input-select {
  width: 350px;
  height: 37px;
  border-radius: 4px;
}

#img-edit {
  width: 100%;
  border-radius: 10px;
  margin-top: 55px
}
