<div class="container" style="padding-top: 40px">
  <div class="row" class="breadcrumb">
        <span ngbTooltip="Quay lại danh sách đã đăng"
              style="font-size: 25px; margin-top: 15px" [routerLink]="['/enterprise/detail']"
              class="title material-icons a1">keyboard_backspace</span>
    <div class="col-3" align="center">
      <h2 style="margin-top: 11px">Sửa công việc</h2>
    </div>
  </div>
  <div class="row">
    <div class="row">
      <div class="col-2"></div>
      <div class="col-lg-8 mt-3">
        <form class="form-contact contact_form" action="contact_process.php" [formGroup]="recruitmentForm"
              (ngSubmit)="updateRecruitment()" id="contactForm">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <p>Lĩnh vực</p>
                <input class="form-control " type="text" placeholder='Nhập lĩnh vực' formControlName="title">
              </div>
              <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                   *ngIf="recruitmentForm.controls['title'].errors?.['required']
                           && recruitmentForm.controls['title'].touched">
                Lĩnh vực là bắt buộc!
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <p>Địa chỉ nơi làm việc</p>
                <input type="text" class="form-control" placeholder="Nhập Địa chỉ làm việc"
                       formControlName="address">
              </div>
              <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                   *ngIf="recruitmentForm.controls['address'].errors?.['required']
                           && recruitmentForm.controls['address'].touched">
                Địa chỉ là bắt buộc!
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <p>Kinh Nghiệm</p>
                <input class="form-control" type="text"
                       placeholder="Yêu cầu kinh nghiệm" formControlName="experience">
              </div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['experience'].errors?.['required']
                           && recruitmentForm.controls['experience'].touched">
              Kinh nghiệm là bắt buộc!
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <p>Số lượng nhân viên</p>
                <input class="form-control" type="text" placeholder="Số lượng tuyển"
                       formControlName="numberOfRecruitments">
              </div>
              <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                   *ngIf="recruitmentForm.controls['numberOfRecruitments'].errors?.['required']
                           && recruitmentForm.controls['numberOfRecruitments'].touched">
                Số lượng nhân viên là bắt buộc!
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <p>Giới tính</p>
                <input class="form-control" type="text" placeholder="Giới tính yêu cầu" formControlName="gender">
              </div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['gender'].errors?.['required']
                           && recruitmentForm.controls['gender'].touched">
              Giới tính là bắt buộc!
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <p>Mức Lương</p>
                <input type="text" class="form-control" placeholder="Nhập mức lương"
                       formControlName="salary">
              </div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['salary'].errors?.['required']
                           && recruitmentForm.controls['salary'].touched">
              Lương là bắt buộc!
            </div>
            <div class="col-12">
              <div class="form-group">
                <p>Mô tả công việc</p>
                <input class="form-control" type="text" formControlName="description">
              </div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['description'].errors?.['required']
                           && recruitmentForm.controls['description'].touched">
              Mô tả là bắt buộc!
            </div>
            <div class="col-12">
              <div class="form-group">
                <p>Ngày kết thúc</p>
                <label for="monthEnd" class="sr-only"></label>
                <input id="monthEnd" class="form-control input-group-lg" name="dateOfBirth" type="date"
                       formControlName="dateEnd">
              </div>
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['dateOfBirth'].errors?.['required']
                           && recruitmentForm.controls['dateOfBirth'].touched">
              Ngày là bắt buộc!
            </div>
            <div class="col-sm-6">
              <p>Hình thức làm việc</p>
              <select style="width: 150px" formControlName="workId">
                <!--                <option>Chọn</option>-->
                <option *ngFor=" let work of listWork " value="{{work.id}}">{{work.name}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <p>Vị trí tuyển dụng</p>
              <select style="width: 150px" formControlName="positionId">
                <!--                <option>Chọn</option>-->
                <option *ngFor=" let position of listPosition " value="{{position.id}}">{{position.name}}</option>
              </select>
            </div>
          </div>
          <div class="col alert alert-success" role="alert"
               *ngIf="recruitmentForm.valid">
            Email và mật khẩu xác nhận đã hợp lệ
          </div>
          <div class="form-group mt-3">
            <button type="submit" [disabled]="!recruitmentForm.valid"
                    class="btn btn-primary btn-block mb-4">Sửa công việc</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


