<div class="container" style="padding-top: 40px">
  <div class="row" class="breadcrumb" style="background-color:palegoldenrod">
        <span ngbTooltip="Quay lại danh sách đã đăng"
              style="font-size: 25px; margin-top: 15px" [routerLink]="['/enterprise/detail']"
              class="title material-icons a1">keyboard_backspace</span>
    <div class="col-3" align="center">
      <h2 style="margin-top: 11px">Sửa công việc</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mt-3">
      <form class="form-contact contact_form" [formGroup]="recruitmentForm"
            (ngSubmit)="updateRecruitment()" id="contactForm">
        <div class="row">
          <div class="col-12">
            <div class="form-group">
              <label class="form-label">Lĩnh vực:</label>
              <input class="input-type form-control" type="text" placeholder='Nhập lĩnh vực'
                     formControlName="title">
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['title'].errors?.['required']
                           && recruitmentForm.controls['title'].touched">
              Lĩnh vực là bắt buộc!
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label class="form-label">Địa chỉ nơi làm việc:</label>
              <input type="text" class="input-type form-control" placeholder="Nhập Địa chỉ làm việc"
                     formControlName="address">
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['address'].errors?.['required']
                           && recruitmentForm.controls['address'].touched">
              Địa chỉ là bắt buộc!
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label">Kinh Nghiệm:</label>
              <input class="input-type form-control" type="text"
                     placeholder="Yêu cầu kinh nghiệm" formControlName="experience">
            </div>
          </div>
          <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
               *ngIf="recruitmentForm.controls['experience'].errors?.['required']
                           && recruitmentForm.controls['experience'].touched">
            Kinh nghiệm là bắt buộc!
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label">Số lượng nhân viên:</label>
              <input class="input-type form-control" type="text" placeholder="Số lượng tuyển"
                     formControlName="numberOfRecruitments">
            </div>
            <div class="col alert alert-danger mt-2" role="alert" style="width: 100%;height: 40px"
                 *ngIf="recruitmentForm.controls['numberOfRecruitments'].errors?.['required']
                           && recruitmentForm.controls['numberOfRecruitments'].touched">
              Số lượng nh là bắt buộc!
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label">Giới tính:</label>
              <input class="input-type form-control" type="text" placeholder="Giới tính yêu cầu"
                     formControlName="gender">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="form-label">Mức Lương:</label>
              <input type="text" class="input-type form-control" placeholder="Nhập mức lương"
                     formControlName="salary">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label class="form-label">Mô tả công việc:</label>
              <input class="input-type form-control" type="text" formControlName="description">
            </div>
          </div>
          <div class="col-12">
            <div class="form-group">
              <label class="form-label">Ngày kết thúc:</label>
              <input id="monthEnd" style="width: 350px" class="input-type form-control input-group-lg"
                     name="dateOfBirth" type="date" formControlName="dateEnd">
            </div>
          </div>
          <div class="col-sm-6">
            <label class="form-label">Hình thức làm việc:</label>
            <select class="input-select" formControlName="workId">
              <option *ngFor=" let work of listWork " value="{{work.id}}">{{work.name}}</option>
            </select>
          </div>
          <div class="col-sm-6">
            <label class="form-label">Vị trí tuyển dụng:</label>
            <select class="input-select" formControlName="positionId">
              <option *ngFor=" let position of listPosition " value="{{position.id}}">{{position.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group mt-3">
          <button type="submit" [disabled]="!recruitmentForm.valid"
                  class="btn btn-primary btn-block mb-4">Sửa công việc
          </button>
        </div>
      </form>
    </div>
    <div class="col-4">
      <img id="img-edit" src="https://wallpapercave.com/wp/wp6595896.jpg" alt="">
    </div>
  </div>
</div>


