<h2 *ngIf="role == 'ROLE_USER'|| role == 'ROLE_ENTERPRISE'|| !isLoggedIn()"
    align="center">Bạn không có quyền truy cập</h2>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container bootstrap snippets bootdey" *ngIf="role == 'ROLE_ADMIN'">
  <div class="row">
    <div class="profile-nav col-md-3">
      <div class="panel">
        <div class="user-heading round">
          <a><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="error"></a>
          <h1>{{profileUser?.fullName}}</h1>
          <h3>{{profileUser?.email}}</h3>
        </div>
        <ul class="nav nav-pills nav-stacked">
          <li class="active"><a> <i class="fa fa-user"></i>{{profileUser?.phoneNumber}}</a></li>
        </ul>
        <li><a> <i class="fa fa-calendar"></i>&nbsp;&nbsp;&nbsp;&nbsp;Admin</a></li>
        <li style="font-size: 16px" *ngIf="role=='ROLE_ADMIN'">
          <h3 ngbTooltip="Xem ngay" class="a1" style="color: #1a237e" [routerLink]="['/admin/listJob']">Quản lý danh
            sách tin tuyển dụng</h3>
        <li style="font-size: 16px" *ngIf="role=='ROLE_ADMIN'">
          <h3 ngbTooltip="Xem ngay" class="a1" style="color: #1a237e" [routerLink]="['/admin/list']">Quản lý lý danh
            sách doanh nghiệp</h3>
          <div style="margin-left: 30px">
            <app-weather></app-weather>
          </div>
      </div>
    </div>
    <div class="profile-info col-md-9">
      <app-list-enterprise-of-admin></app-list-enterprise-of-admin>
    </div>
  </div>
</div>

