<h1 style="color: indigo; width: 300px" mat-dialog-title></h1>
<div mat-dialog-content></div>
<div>
  <form class="form-contact contact_form"
        id="contactForm">
    <div class="container">
      <div class="row">
        <div>
          <div>
            <div>
              <h1 class="text-left">Sửa thông tin cá nhân</h1>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <label class="labels">Họ và tên</label>
                <input formControlName="fullName" type="text" class="form-control" placeholder="Họ tên"></div>
              <div class="col-md-6">
                <label class="labels">Số điện thoại</label>
                <input formControlName="phoneNumber" type="text" class="form-control" placeholder="Số điện thoại"></div>
            </div>
            <div class="row mt-3">
              <div class="col-md-12">
                <label class="labels">Đổi tên tài khoản</label>
                <input formControlName="email" type="text" class="form-control" placeholder="Tên tài khoản">
              </div>
            </div>
            <div class="mt-5 text-center">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div mat-dialog-actions align="end">
      <button class="btn btn-primary profile-button hoverDialog" mat-button mat-dialog-close type="button">
        Lưu thông tin
      </button>
      <button class="btn btn-primary profile-button hoverDialog" mat-button mat-dialog-close>Đóng</button>
    </div>
  </form>
</div>
