<div class="job_details_area">
  <div class="container">
    <span ngbTooltip="Quay lại danh sách"
          style="font-size: 25px" [routerLink]="['/enterprise/listJob']"
          class="material-icons a1">keyboard_backspace</span>
    <div class="row">
      <div class="col-lg-8">
        <div class="job_details_header">
          <div class="single_jobs white-bg d-flex justify-content-between">
            <div class="jobs_left d-flex align-items-center">
              <div class="thumb">
                <img class="a1" routerLink="/user/detailEnterprise/{{recruitments?.profileEnterprise?.id}}"
                     ngbTooltip="Xem thông tin doanh nghiệp" src="{{recruitments?.profileEnterprise?.image}}" alt=""
                     style="width: 48px;height: 48px"></div>
              <div class="jobs_conetent">
                <a><h4>{{recruitments?.title}} - Vị trí: {{recruitments?.positionId?.name}} </h4></a>
                <p style="color: green">Công ty: {{recruitments?.profileEnterprise?.nameCompany}} </p>
                <div class="links_locat d-flex align-items-center">
                  <div class="location">
                    <p><i class="fa fa-map-marker"></i> {{recruitments?.address}}</p>
                  </div>
                  <div class="location">
                    <p><i class="fa fa-clock-o"></i> {{recruitments?.workId?.name}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="jobs_right">
              <div class="a2 apply_now" ngbTooltip="Báo cáo vi phạm">
                <sub *ngIf="check" (click)="report()" style="color: red">
                  <span style="font-size: 30px" class="material-icons">flag</span>
                </sub>
              </div>
            </div>
          </div>
        </div>
        <div class=" white-bg justify-content-between">
          <div class="row" *ngIf="checkRole =='ROLE_USER'">
            <div class="col-6"></div>
            <div class="col-6" *ngIf="checkApply">
              <h2 align="right" style="margin-right: 20px; color: deeppink">Đã ứng tuyển</h2>
            </div>
            <div class="col-6" *ngIf="!checkApply">
              <h2 align="right" style="margin-right: 20px; color: darkseagreen">Chưa ứng tuyển</h2>
            </div>
          </div>
        </div>
        <div class="descript_wrap white-bg">
          <div class="single_wrap">
            <h4>Mô tả công việc:</h4>
            <p>{{recruitments?.description}}</p>
          </div>
          <div class="single_wrap">
            <h4>Yêu cầu kinh nghiệm:</h4>
            <p>{{recruitments?.experience}}</p>
          </div>
          <div class="single_wrap">
            <h4>Yêu cầu giới tính:</h4>
            <p>{{recruitments?.gender}}</p>
          </div>
        </div>
        <div class="apply_job_form white-bg">
          <form action="#">
            <div class="row">
              <div class="col-md-12">
                <div class="submit_btn" *ngIf="checkRole =='ROLE_USER'">
                  <button (click)="applyNow()" class="boxed-btn3 w-100" type="button">Ứng tuyển ngay</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="job_sumary">
          <div class="summery_header">
            <h3>Tóm tắt công việc</h3>
          </div>
          <div class="job_content">
            <ul>
              <li>Ngày đăng tin: <span>{{recruitments?.dateBegin | date:"dd/MM/yyyy"}}</span></li>
              <li>Ngày hết hạn: <span>{{recruitments?.dateEnd | date:"dd/MM/yyyy"}}</span></li>
              <li>Vị trí còn trống: <span>{{recruitments?.numberOfRecruitments}}</span></li>
              <!--              Đăng nhập mới thấy Lương-->
              <li *ngIf="currentUser">Lương: <span>{{recruitments?.salary | currency}}</span></li>
              <li>Địa điểm: <span>{{recruitments?.address}}</span></li>
              <li>Thời gian: <span> {{recruitments?.workId?.name}}</span></li>
            </ul>
          </div>
        </div>
        <div class="share_wrap d-flex">
          <span>Chia sẻ</span>
          <ul>
            <li><a> <i class="fa fa-facebook"></i></a></li>
            <li><a> <i class="fa fa-google-plus"></i></a></li>
            <li><a> <i class="fa fa-twitter"></i></a></li>
            <li><a> <i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
        <div class="share_wrap d-flex">
          <span>Hỗ trợ</span>
          <ul>
            <li><a> <i class="fa fa-facebook"></i></a></li>
            <li><a> <i class="fa fa-google-plus"></i></a></li>
            <li><a> <i class="fa fa-twitter"></i></a></li>
            <li><a> <i class="fa fa-envelope"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

