<!-- slider_area_start -->
<div class="slider_area" >
  <div class="single_slider  d-flex align-items-center slider_bg_1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7 col-md-6">
          <div class="slider_text">
            <h5 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s">4536+ Jobs listed</h5>
            <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".3s">Find your Dream Job</h3>
            <p class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".4s">We provide online instant cash loans with quick approval that suit your term length</p>
            <div class="sldier_btn wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".5s">
              <a href="#" class="boxed-btn3">Upload your Resume</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ilstration_img wow fadeInRight d-none d-lg-block text-right" data-wow-duration="1s" data-wow-delay=".2s">
    <img src="assets/demo/img/banner/illustration.png" alt="">
  </div>
</div>
<!-- slider_area_end -->
<div class="container" style="text-align: center">
  <form action="#" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
      <div class="row">
        <div class="col-12">
            <h2><a routerLink="" style="color: #0f1ba1">Người dùng</a></h2>
            <span style="font-size: 40px; color: #0f1ba1" class="material-icons">assignment</span>
        </div>
        <div class="col-12">
            <h2><a routerLink="enterprise" style="color: #0f1ba1">Doanh nghiệp</a></h2>
            <span style="font-size: 40px; color: #0f1ba1" class="material-icons">assignment</span>
        </div>
      </div>

      <div class="col-3">
        <h2 style="color: deeppink">
          <sub><span class="material-icons" style="color: #0f1ba1;">account_box</span></sub>&nbsp;Email đăng nhập</h2>
        <mat-form-field hideRequiredMarker appearance="outline" color="primary">
          <mat-label>Email đăng nhập</mat-label>
          <input matInput required formControlName="email">
          <mat-hint align="end">Ví dụ: khanh@gmail.com</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3">
        <h2 style="color: deeppink">
          <sub><span class="material-icons" style="color: #0f1ba1;">https</span></sub>&nbsp;Mật khẩu</h2>
        <mat-form-field appearance="outline">
          <mat-label>Nhập mật khẩu</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-hint align="end">Mật khẩu là bắt buộc</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-4">
        <div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="loginForm.controls['email'].errors?.['required']
         && loginForm.controls['email'].touched">
            Email là bắt buộc!
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="loginForm.controls['email'].errors?.['email']
         && loginForm.controls['email'].touched">
            Không phải là một email hợp lệ
          </div>
          <div class="col alert alert-danger" role="alert"
               *ngIf="loginForm.controls['password'].errors?.['required']
                    && loginForm.controls['password'].touched">
            Mật khẩu là bắt buộc!
          </div>
          <div class="col alert alert-success" role="alert"
               *ngIf="loginForm.valid">
            Email và mật khẩu xác nhận đã hợp lệ
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-2" style="width: 100px"></div>
      <div class="col-3">
        <h2 class="a" style="color: purple">
          <a class="a"><sub><span class="material-icons" style="color: #0f1ba1;">help</span></sub>
            Bạn chưa có tài khoản?</a></h2>
      </div>
      <div class="col-3">
        <div class="example-button-row">
          <button mat-raised-button matTooltip="Đăng nhập" [disabled]="!loginForm.valid"
                  class="btn-primary btn" mat-button color="primary">
            <span class="material-icons">touch_app</span>Đăng nhập
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
