<div class="container" style="text-align: center">

  <form action="#" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="row">
      <div class="col-3">
        <h2 style="color: deeppink">
          <sub><span class="material-icons">account_box</span></sub>&nbsp;Email đăng nhập</h2>
        <mat-form-field hideRequiredMarker appearance="outline" color="primary">
          <mat-label>Email đăng nhập</mat-label>
          <input matInput required formControlName="email">
          <mat-hint align="end">Ví dụ: khanh@gmail.com</mat-hint>
        </mat-form-field>
      </div>
      <div class="col-3">
        <h2 style="color: deeppink">
          <sub><span class="material-icons">https</span></sub>&nbsp;Mật khẩu</h2>
        <mat-form-field appearance="outline">
          <mat-label>Nhập mật khẩu</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">

          <mat-hint align="end">Mật khẩu là bắt buộc</mat-hint>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <h2 class="a" style="color: purple">
          <a class="a"><sub><span class="material-icons">help</span></sub>
            Bạn chưa có tài khoản?</a></h2>
      </div>
      <div class="col-3">
        <div class="example-button-row">
          <button mat-raised-button matTooltip="Đăng nhập" [disabled]="!loginForm.valid"
                  class="btn-primary btn" mat-button color="primary">
            <span class="material-icons">touch_app</span>Đăng nhập
          </button>
        </div>
      </div>
    </div>
    <div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="loginForm.controls['email'].errors?.['required']
         && loginForm.controls['email'].touched">
        Email là bắt buộc!
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="loginForm.controls['email'].errors?.['email']
         && loginForm.controls['email'].touched">
        Không phải là một email hợp lệ
      </div>
      <div class="col alert alert-danger" role="alert"
           *ngIf="loginForm.controls['password'].errors?.['required']
                    && loginForm.controls['password'].touched">
        Mật khẩu là bắt buộc!
      </div>
      <div class="col alert alert-success" role="alert"
           *ngIf="loginForm.valid">
        Email và mật khẩu xác nhận đã hợp lệ
      </div>
    </div>
  </form>
</div>



