
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="contact-title">Đăng ký người dùng</h2>
      </div>
      <div class="col-2"></div>
      <div class="col-lg-8">
        <form class="form-contact contact_form" action="contact_process.php" [formGroup]="userForm"
              (ngSubmit)="register()" id="contactForm">
          <div>
            <div class="col alert alert-success" role="alert"
                 *ngIf="userForm.valid">
              Email và mật khẩu xác nhận đã hợp lệ
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input class="form-control " type="text" placeholder='Nhập email' formControlName="email">
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['email'].errors?.['required']
         && userForm.controls['email'].touched">
                  Email là bắt buộc!
                </div>
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['email'].errors?.['email']
         && userForm.controls['email'].touched">
                  Không phải là một email hợp lệ
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Nhập mật khẩu"
                       formControlName="password">
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['password'].errors?.['required']
                    && userForm.controls['password'].touched">
                  Mật khẩu là bắt buộc!
                </div>

              </div>
            </div>

            <div class="col-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu"
                       formControlName="confirmPassword">

                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['confirmPassword'].errors?.['required']
         && userForm.controls['confirmPassword'].touched">
                  Mật khẩu là bắt buộc!
                </div>
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['confirmPassword'].value != userForm.controls['password'].value
         && userForm.controls['confirmPassword'].touched">
                  Mật khẩu không trùng khớp!
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Số điện thoại" formControlName="phoneNumber">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Số nhân viên" formControlName="fullName">
              </div>
            </div>
          <div class="form-group mt-3">
            <button type="submit" [disabled]="!userForm.valid" class="button button-contactForm btn_4 boxed-btn">
              Đăng ký
            </button>
          </div>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

