<div class="row al1">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row" style="height: 20px"></div>
    <div class="row">
      <h3 class="a">
        <a ngbTooltip="Đăng nhập" href="#" [routerLink]="['/login']" class="a" ><sub><span class="material-icons" style="color: #007fff;">help</span></sub>
          Bạn đã có tài khoản, đăng nhập ngay</a></h3>
      <div class="col-12 text-center">
        <h1 class="contact-title"><sub style="color: black">
          <span class="material-icons">assignment</span></sub>&ensp;Đăng Ký Người Dùng</h1>
      </div>
      <div class="col-2"></div>
      <div class="col-lg-8">
        <form class="form-contact contact_form" action="contact_process.php" [formGroup]="userForm"
              (ngSubmit)="register()" id="contactForm">
          <div>
            <div class="col alert alert-success" role="alert"
                 *ngIf="userForm.valid">
              Email và mật khẩu xác nhận đã hợp lệ
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <input class="form-control" type="text" placeholder='Nhập email *' formControlName="email">
                <mat-hint style="color: black;text-align: left" align="end">Ví dụ: khanh@gmail.com</mat-hint>
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['email'].errors?.['required']
         && userForm.controls['email'].touched">
                  Email là bắt buộc!
                </div>
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['email'].errors?.['email']
         && userForm.controls['email'].touched">
                  Không phải là một email hợp lệ
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Nhập mật khẩu *"
                       formControlName="password">
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['password'].errors?.['required']
                    && userForm.controls['password'].touched">
                  Mật khẩu là bắt buộc!
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <input type="password" class="form-control" placeholder="Nhập lại mật khẩu *"
                       formControlName="confirmPassword">

                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['confirmPassword'].errors?.['required']
         && userForm.controls['confirmPassword'].touched">
                  Mật khẩu là bắt buộc!
                </div>
                <div class="col alert alert-danger mt-2" role="alert"
                     *ngIf="userForm.controls['confirmPassword'].value != userForm.controls['password'].value
         && userForm.controls['confirmPassword'].touched">
                  Mật khẩu không trùng khớp!
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Số điện thoại *" formControlName="phoneNumber">
                <mat-hint style="color: black;text-align: left" align="end">
                  Ví dụ: 0353413219 (10 chữ số, bắt đầu bằng số 03 đến 09)
                </mat-hint>
              </div>
              <div class="col alert alert-danger mt-2" role="alert"
                   *ngIf="userForm.controls['phoneNumber'].errors?.['required']
                      && userForm.controls['phoneNumber'].touched">
                Số điện thoại là bắt buộc!
              </div>
              <div class="col alert alert-danger" role="alert"
                   *ngIf="userForm.controls['phoneNumber'].errors?.['pattern']
                     && userForm.controls['phoneNumber'].touched">
                Không phải là một số điện thoại hợp lệ
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Họ và tên" formControlName="fullName">
              </div>
            </div>
            <div class="form-group mt-3">
              <div style="margin-top: 10px; margin-left: 10px">
                <button style="width: 190px" mat-raised-button ngbTooltip="Đăng ký" [disabled]="!userForm.valid"
                        class="btn-primary btn" mat-button color="primary" >
                  <span class="material-icons">touch_app</span>Đăng ký
                </button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

