<!-- job_listing_area_start  -->
<div class="job_listing_area"
     style="padding-top: 40px; background-color: white;">
  <div class="container">
    <div class="row" class="breadcrumb"
         style="background-color:palegoldenrod">
        <span ngbTooltip="Quay lại"
              style="font-size: 25px; margin-top: 15px" [routerLink]="['/enterprise/detail']"
              class="title material-icons a1">keyboard_backspace</span>
      <div class="col-4" align="center">
        <h2 style="margin-top: 11px">Danh sách công việc đã đăng</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="recent_joblist_wrap">
          <div class="row align-items-center">
            <div class="col-md-6">
            </div>
          </div>
        </div>
        <div class="job_lists m-0">
          <div class="row" *ngFor=" let job of myListJob ">
            <div class="col-lg-12 col-md-12">
              <div class="single_jobs white-bg d-flex justify-content-between" style="padding:0px">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img src="{{job?.profileEnterprise?.image}}" alt="" style="width: 48px;height: 48px">
                  </div>
                  <div class="jobs_conetent">
                    <a routerLink="/enterprise/listJob/{{job.id}}/details"><h4 style="font-size: 20px">{{job.title}}<span style="color: red"> !</span></h4></a>

                    <!--                    <a href="enterprise/{{job.id}}/details"><h4>{{job.title}}</h4></a>-->
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p style="color: #f7941d"><i class="fa fa-map-marker"></i> {{job?.address}}</p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i> {{job?.workId?.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <div *ngIf="job?.statusRecruitmentId?.id == '1'">
                      <a ngbTooltip="Công khai tuyển dụng" class="heart_mark" (click)="changeStatusPublic(job?.id)"><i
                        class="fa-solid fa-eye"></i></a>
                      <a ngbTooltip="Sửa tin tin tuyển dụng" (click)="showEditForm(job?.id)" class="heart_mark"><i
                        class="fa-solid fa-screwdriver-wrench"></i></a>
                      <a ngbTooltip="Danh sách CV đã nộp" (click)="mylistCV(job?.id)" class="heart_mark"><i
                        class="fa-solid fa-address-card"></i></a>
                    </div>
                    <div *ngIf="job?.statusRecruitmentId?.id == '2' ||job?.statusRecruitmentId?.id == '3' ">
                      <a ngbTooltip="Ẩn tin tuyển dụng" class="heart_mark" (click)="changeStatusHidden(job?.id)"><i
                        class="fas fa-eye-slash"></i></a>
                      <a ngbTooltip="Sửa tin tin tuyển dụng" (click)="showEditForm(job?.id)" class="heart_mark"><i
                        class="fa-solid fa-screwdriver-wrench"></i></a>
                      <a ngbTooltip="Danh sách CV đã nộp" (click)="mylistCV(job?.id)" class="heart_mark"><i
                        class="fa-solid fa-address-card"></i></a>
                    </div>
                  </div>
                  <div class="jobs_right">
                    <div class="apply_now">
                    </div>
                    <div class="date">
                      <p>Ngày hết hạn: {{job.dateEnd | date:"dd/MM/yyyy" }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                  <li><a href="#"><span>01</span></a></li>
                  <li><a href="#"><span>02</span></a></li>
                  <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
