<!-- job_listing_area_start  -->
<div class="job_listing_area" style="padding-top: 40px">
  <div class="container">
     <span ngbTooltip="Quay lại danh sách"
           style="font-size: 25px" [routerLink]="['/enterprise/detail']"
           class="material-icons a1">keyboard_backspace</span>
    <div class="row">
      <div class="col-lg-12">
        <div class="recent_joblist_wrap">
          <div class="recent_joblist white-bg ">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h3>Danh sách việc làm của công ty bạn đã đăng</h3>
              </div>
              <div class="col-md-6">
                <div class="serch_cat d-flex justify-content-end">
                  <select>
                    <option data-display="Most Recent">Nhiều người ứng tuyển nhất</option>
                    <option value="1">Ngày hết hạn</option>
                    <option value="2">Mới nhất</option>
                    <option value="4">Cũ nhất</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="job_lists m-0">
          <div class="row" *ngFor=" let job of myListJob ">
            <div class="col-lg-12 col-md-12">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img src="{{job?.profileEnterprise?.image}}" alt="" style="width: 48px;height: 48px">
                  </div>
                  <div class="jobs_conetent">
                    <a [routerLink]="['/enterprise/']"><h4>{{job.title}}</h4></a>
                    <!--                    <a href="enterprise/{{job.id}}/details"><h4>{{job.title}}</h4></a>-->
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p><i class="fa fa-map-marker"></i> {{job?.profileEnterprise?.addressCompany}}</p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i> {{job?.workId?.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <div *ngIf="job?.statusRecruitmentId?.id == '1'">
                      <a ngbTooltip="Công khai tuyển dụng" class="heart_mark" (click)="changeStatusPublic(job?.id)"><i
                        class="fa-solid fa-eye"></i></a>
                      <a ngbTooltip="Sửa tin tin tuyển dụng" (click)="showEditForm(job?.id)" class="heart_mark"><i
                        class="fa-solid fa-screwdriver-wrench"></i></a>
                    </div>
                    <div *ngIf="job?.statusRecruitmentId?.id == '2' ||job?.statusRecruitmentId?.id == '3' ">
                      <a ngbTooltip="Ẩn tin tuyển dụng" class="heart_mark" (click)="changeStatusHidden(job?.id)"><i
                        class="fas fa-eye-slash"></i></a>
                      <a ngbTooltip="Sửa tin tin tuyển dụng" (click)="showEditForm(job?.id)" class="heart_mark"><i
                        class="fa-solid fa-screwdriver-wrench"></i></a>
                    </div>
                  </div>
                  <div class="date">
                    <p style="margin-right: 28px">{{job.dateEnd | date : 'dd/MM/yyyy'}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                  <li><a href="#"><span>01</span></a></li>
                  <li><a href="#"><span>02</span></a></li>
                  <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
