
<!-- job_listing_area_start  -->
<div class="job_listing_area" style="padding-top: 40px">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 45px">
      <a style="font-size: 25px" class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a style="font-size: 25px" class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a style="font-size: 25px" class="nav-link" href="#">Link</a>
          </li>
          <li style="font-size: 25px" class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-expanded="false">
              Dropdown
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input (input)="searchByName()" id="search"  class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
          <button  class="btn btn-outline-success my-2 my-sm-0" type="submit">Tìm kiếm</button>
        </form>
      </div>
    </nav>
    <div class="row">
      <div class="col-lg-3">
        <div class="job_filter white-bg">
          <div class="form_inner white-bg">
            <h3>Filter</h3>
            <form action="#">
              <div class="row">
              </div>
            </form>
          </div>

          <div class="range_wrap">
            <label for="amount">Price range:</label>
            <div id="slider-range"></div>
            <p>
              <input type="text" id="amount" readonly
                     style="border:0; color:#7A838B; font-size: 14px; font-weight:400;">
            </p>
          </div>
          <div class="reset_btn">
            <button class="boxed-btn3 w-100" type="submit">Reset</button>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="recent_joblist_wrap">
          <div class="recent_joblist white-bg ">
            <div class="row align-items-center">
              <div class="col-md-6">
                <h4>Job Listing</h4>
              </div>
              <div class="col-md-6">
                <div class="serch_cat d-flex justify-content-end">
                  <select>
                    <option data-display="Most Recent">Most Recent</option>
                    <option value="1">Marketer</option>
                    <option value="2">Wordpress</option>
                    <option value="4">Designer</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="job_lists m-0">
          <div class="row" *ngFor=" let job of listJob ">
            <div class="col-lg-12 col-md-12">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img src="{{job?.profileEnterprise?.image}}" alt="" style="width: 48px;height: 48px">
                  </div>
                  <div class="jobs_conetent">
                    <a routerLink="{{job.id}}/details"><h4>{{job.title}}</h4></a>
<!--                    <a href="enterprise/{{job.id}}/details"><h4>{{job.title}}</h4></a>-->
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p><i class="fa fa-map-marker"></i> {{job?.profileEnterprise?.addressCompany}}</p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i> {{job?.workId?.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <a class="heart_mark" href="#"> <i class="fa fa-heart"></i> </a>
                    <!--                    <a href="enterprise/{{job.id}}/details" class="boxed-btn3">Apply Now</a>-->
                    <a routerLink="{{job.id}}/details" class="boxed-btn3">Nộp đơn ngay</a>
                  </div>
                  <div class="date">
                    <p>{{job.dateEnd}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li><a href="#"> <i class="ti-angle-left"></i> </a></li>
                  <li><a href="#"><span>01</span></a></li>
                  <li><a href="#"><span>02</span></a></li>
                  <li><a href="#"> <i class="ti-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->


<!--<script>-->
<!--  $(function () {-->
<!--    $("#slider-range").slider({-->
<!--      range: true,-->
<!--      min: 0,-->
<!--      max: 24600,-->
<!--      values: [750, 24600],-->
<!--      slide: function (event, ui) {-->
<!--        $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1] + "/ Year");-->
<!--      }-->
<!--    });-->
<!--    $("#amount").val("$" + $("#slider-range").slider("values", 0) +-->
<!--      " - $" + $("#slider-range").slider("values", 1) + "/ Year");-->
<!--  });-->
<!--</script>-->

