<!-- job_listing_area_start  -->
<div class="job_listing_area" style="padding-top: 40px">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 45px">
      <!--      <a style="font-size: 20px" class="navbar-brand">Tìm kiếm</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a style="font-size: 20px" class="nav-link">Tìm kiếm</a>
          </li>
          <li style="font-size: 20px" class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" id="" role="button" data-toggle="dropdown"
               aria-expanded="false">
              Tìm theo nơi làm việc
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a (click)="searchByAddress1()" class="dropdown-item">Hà Nội</a>
              <a (click)="searchByAddress2()" class="dropdown-item">Bắc Ninh</a>
              <a (click)="searchByAddress3()" class="dropdown-item">Hà Nam</a>
              <a (click)="searchByAddress4()" class="dropdown-item">Hải Dương</a>
              <a (click)="searchByAddress5()" class="dropdown-item">Hải Phòng</a>
              <a (click)="searchByAddress6()" class="dropdown-item">Hưng Yên</a>
              <a (click)="searchByAddress7()" class="dropdown-item">Nam Định</a>
              <a (click)="searchByAddress8()" class="dropdown-item">Ninh Bình</a>
              <a (click)="searchByAddress9()" class="dropdown-item">Thái Bình</a>
              <a (click)="searchByAddress10()" class="dropdown-item">Vĩnh Phúc</a>
            </div>
          </li>
          <li style="font-size: 20px" class="nav-item active dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown"
               aria-expanded="false">
              Sắp xếp
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a (click)="sortByNewRecruitments()" class="dropdown-item">Tin mới nhất</a>
              <a (click)="sortByOldRecruitments()" class="dropdown-item">Tin cũ nhất</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input ngbTooltip="Tìm theo tên, địa chỉ, lương" (input)="searchByName()" id="search"
                 class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm" aria-label="Search">
          <span style="font-size: 45px; color: deeppink" class="material-icons">content_paste_search</span>
        </form>
      </div>
    </nav>
    <div class="row">
     <app-home-page-enterprise></app-home-page-enterprise>
      <div class="col-lg-9">
        <div class="recent_joblist_wrap">
          <div class="recent_joblist white-bg ">
            <div class="row align-items-center">
              <div class="col-md-6" style="margin-top: 15px">
                <h1 class="menu"><sub style="color: deeppink">
                  <span style="font-size: 26px" class="material-icons">
                    feed</span></sub>&nbsp;Danh sách việc làm</h1>
              </div>
              <div class="col-md-6">
                <div class="serch_cat d-flex justify-content-end">
                  <select>
                    <option data-display="Most Recent">....</option>
                    <option value="1">....</option>
                    <option value="2">....</option>
                    <option value="4">....</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="job_lists m-0">
          <div class="row" *ngFor=" let job of listJob ">
            <div class="col-lg-12 col-md-12">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img class="a1" ngbTooltip="Xem thông tin doanh nghiệp" src="{{job?.profileEnterprise?.image}}"
                         alt="" style="width: 48px;height: 48px">
                  </div>
                  <div class="jobs_conetent">
                    <a ngbTooltip="Xem chi tiết" routerLink="{{job.id}}/details"><h4>{{job.title}}</h4></a>
                    <!--                    <a href="enterprise/{{job.id}}/details"><h4>{{job.title}}</h4></a>-->
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p style="color: #f7941d"><i
                          class="fa fa-map-marker"></i> {{job?.profileEnterprise?.addressCompany}}</p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i> {{job?.workId?.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <a routerLink="{{job.id}}/details" class="boxed-btn3" >Nộp đơn ngay</a>
                  </div>
                  <div class="date">
                    <p>Ngày hết hạn: {{job.dateEnd | date:"dd/MM/yyyy" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li><a (click)="previousPage()"> <i class="ti-angle-left"></i> </a></li>
                  <li><a (click)="nextPage()"> <i class="ti-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
