<!-- job_listing_area_start  -->
<div class="job_listing_area" style="padding-top: 40px">
  <div class="container">
    <!-- Khu vực tìm kiếm -->
    <form style="margin-left: 12px" class="form-inline my-2 my-lg-0" (input)="searchRecruitment()">
      <input ngbTooltip="Tìm theo địa chỉ" id="address" class="form-control mr-sm-2" type="search"
             placeholder="Tìm kiếm theo thành phố " aria-label="Search">
      <input ngbTooltip="Tìm theo ngành nghề" id="title" class="form-control mr-sm-2" type="search"
             placeholder="Tìm kiếm theo ngành nghề" aria-label="Search">
      <input ngbTooltip="Tìm theo kinh nghiệm" id="experience" class="form-control mr-sm-2" type="search"
             placeholder="Tìm kiếm theo kinh nghiệm " aria-label="Search">
      <input ngbTooltip="Tìm theo tên công ty" id="name" class="form-control mr-sm-2" type="search"
             placeholder="Tìm kiếm theo tên công ty" aria-label="Search">
      <input ngbTooltip="Tìm theo mức lương nhỏ nhất" id="min" class="form-control mr-sm-2" type="search"
             placeholder="Tìm kiếm theo mức lương" aria-label="Search">
    </form>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding-bottom: 45px">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <span style="font-size: 43px; color: deeppink" class="material-icons">public</span>
        <ul class="navbar-nav mr-auto">
          <div (click)="searchByAddress()" style="width: 220px">
            <select ngbTooltip="Tìm kiếm nhanh theo thành phố" id="q" class="form-control">
              <option data-display="Most Recent" value="">Tìm kiếm nhanh theo</option>
              <option value="Hà Nội">Hà Nội</option>
              <option value="Sài Gòn">Thái Bình</option>
              <option value="Đà Nẵng">Đà Nẵng</option>
            </select>
          </div>
        </ul>
        <span style="font-size: 25px; margin-right: 220px">Tìm kiếm</span>
        <form class="form-inline my-2 my-lg-0">
          <input ngbTooltip="Tìm theo tên, địa chỉ, lương" (input)="searchByName()" id="search"
                 class="form-control mr-sm-2" type="search" placeholder="Tìm kiếm nhanh" aria-label="Search">
          <span style="font-size: 45px; color: deeppink" class="material-icons">content_paste_search</span>
        </form>
        <!-- Khu vực tìm kiếm -->
      </div>
    </nav>
    <div class="row">
      <app-home-page-enterprise></app-home-page-enterprise>
      <div class="col-lg-9">
        <div class="recent_joblist_wrap">
          <div class="recent_joblist white-bg ">
            <div class="row">
              <div class="col-md-9" style="margin-top: 15px">
                <h1 class="menu"><sub style="color: deeppink">
                  <span style="font-size: 26px" class="material-icons">
                    feed</span></sub>&nbsp;Danh sách việc làm</h1>
              </div>
              <div class="a2 col-3" style="margin-top: 18px">
                <div align="right">
                  <li style="font-size: 20px" class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown"
                       role="button" data-toggle="dropdown"
                       aria-expanded="false">Sắp xếp</a>
                    <div style="margin-left: 15px" class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a (click)="sortByNewRecruitments()" class="dropdown-item">Tin mới nhất</a>
                      <a (click)="sortByOldRecruitments()" class="dropdown-item">Tin cũ nhất</a>
                    </div>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="job_lists m-0">
          <div class="row" *ngFor=" let job of listJob ">
            <div class="col-lg-12 col-md-12">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img ngbTooltip="Xem doanh nghiệp" class="a1"
                         routerLink="/user/detailEnterprise/{{job?.profileEnterprise?.id}}"
                         src="{{job?.profileEnterprise?.image}}"
                         alt="Ảnh" style="width: 48px;height: 48px">
                  </div>
                  <div class="jobs_conetent">
                    <a *ngIf="isLoggedIn()" ngbTooltip="Xem chi tiết" routerLink="{{job.id}}/details">
                      <h4>{{job.title}}</h4></a>
                    <a *ngIf="!isLoggedIn()" (click)="clickDetail()" ngbTooltip="Xem chi tiết"><h4>{{job.title}}</h4>
                    </a>

                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p style="color: #f7941d"><i
                          class="fa fa-map-marker"></i> {{job?.address}}</p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i> {{job?.workId?.name}}</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <a *ngIf="isLoggedIn()" routerLink="{{job.id}}/details" class="boxed-btn3">Ứng tuyển ngay</a>
                    <a *ngIf="!isLoggedIn()" (click)="clickDetail()" class="boxed-btn3">Ứng tuyển ngay</a>
                  </div>
                  <div class="date">
                    <p>Ngày hết hạn: {{job.dateEnd | date:"dd/MM/yyyy" }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="pagination_wrap">
                <ul>
                  <li><a (click)="previousPage()"> <i class="ti-angle-left"></i> </a></li>
                  <li><a (click)="nextPage()"> <i class="ti-angle-right"></i> </a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
