.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.alo1:hover {
  color: #ffc107;
}

.alo2 {
  color: #0A8CFF;
}

.alo2:hover {
  color: #ffc107;
}

/*modal option*/
.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

.a1 {
  cursor: pointer;
}

.a1:hover {
  color: #ffc107;
}

.button-style {
  margin-left: 20px;
  width: 70px
}
#div-error {
  background-image: url("https://ctagency.vn/wp-content/uploads/2020/05/404.png");
  width: 100%;
  height: 750px;
}
