<mat-card class="example-card" *ngFor="let en of enterprise">
  <mat-card-title-group>
    <mat-card-title class="alo2">
      <sub class="alo2"><span class="material-icons">home_repair_service</span></sub>
      &ensp;{{en.nameCompany}}</mat-card-title>
    <mat-card-subtitle>{{en.description}}</mat-card-subtitle>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg">
  </mat-card-title-group>
  <mat-card-content>
    <div class="row">
      <div class="col-1">
        <sub><span style="color: #007fff" class="material-icons">info</span></sub>
      </div>
      <div class="col-5">
        <h2>{{en.statusEnterpriseId?.name}}</h2>
      </div>
    </div>
  </mat-card-content>
  <mat-card-footer>
    <div class="row">
      <div class="col" style="margin-left: 30px">
        <button class="alo1" mat-button (click)="changeStatusActive(en?.id)">Kích hoạt tài khoản</button>
      </div>
      <div class="col">
        <button class="alo1" mat-button (click)="changeStatusLock(en?.id)">Khóa tài khoản</button>
      </div>
    </div>
  </mat-card-footer>
</mat-card>

<!-- job_listing_area_start  -->
<div class="container">


  <div class="row">

    <div class="job_listing_area">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6">
            <div class="section_title">
              <h3>Job Listing</h3>
            </div>
          </div>
        </div>
        <div class="job_lists">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="single_jobs white-bg d-flex justify-content-between">
                <div class="jobs_left d-flex align-items-center">
                  <div class="thumb">
                    <img src="assets/demo/img/svg_icon/2.svg" alt="">
                  </div>
                  <div class="jobs_conetent">
                    <a href="job_details.html"><h4>Digital Marketer</h4></a>
                    <div class="links_locat d-flex align-items-center">
                      <div class="location">
                        <p><i class="fa fa-map-marker"></i> California, USA</p>
                      </div>
                      <div class="location">
                        <p><i class="fa fa-clock-o"></i> Part-time</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>
                  </div>
                </div>
                <div class="jobs_right">
                  <div class="apply_now">
                    <a href="job_details.html" class="boxed-btn3">Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- job_listing_area_end  -->
